@{
}


<h1 class="hover:text-rose-950 text-center">Seguimiento de Pedidos</h1>
<section class="step-wizard">
    <ul class="step-wizard-list">
        <li class="step-wizard-item">
            <span class="progress-count">1</span>
            <span class="progress-label">Recibido</span>
        </li>
        <li class="step-wizard-item current-item">
            <span class="progress-count">2</span>
            <span class="progress-label">En proceso</span>
        </li>
        <li class="step-wizard-item">
            <span class="progress-count">3</span>
            <span class="progress-label">Orden terminada y lista para entregar</span>
        </li>
    </ul>
</section>