@model RegistroViewModel
@{
    ViewData["Title"] = "Registrate";
}
<style>
    body {
        background-image: url(/img/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .card {
        background-color: #bb8b90;
        color:white;
        margin-bottom:100px;

    }
</style>


<div class="container">
    <div class="row justify-content-center" style="padding-top: 20px;">
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="text-center">Crear Usuario</h2>
                        <form asp-action="Crear">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="nombre">Nombre:</label>
                                <input asp-for="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                            </div>
                            <div class="form-group">
                                <label asp-for="apellido">Apellido:</label>
                                <input asp-for="apellido" type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
                            </div>
                            <div class="form-group">
                                <label asp-for="direccion">Direccion</label>
                                <input asp-for="direccion" type="text" class="form-control" id="direccion" placeholder="Ingrese la direccion de su casa">
                            </div><div class="form-group">
                                <label asp-for="telefono">Teléfono</label>
                                <input asp-for="telefono" type="tel" class="form-control" id="telefono" placeholder="Ingrese su número de teléfono">
                            </div>
                            <div class="form-group">
                                <label asp-for="contraseña">Contraseña:</label>
                                <input asp-for="contraseña" type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn" style="background-color: #5d0c27; color: antiquewhite;  margin-top:30px">Crear Usuario</button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}