@model LoginViewModel;
@{
    ViewData["Title"] = "Iniciar Sesión";
}
<style>
    body {
        background-image: url(/img/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .card {
        background-color: #bb8b90;
        color: white;
        margin-bottom: 100px;
</style>
<div class="container">
    <div class="row justify-content-center" style="padding-top: 120px;">
        <div class="col-md-6">
            <div class="card" style="border-radius: 10px;">
                <div class="card-body">
                    <div class="col-md-8 offset-md-2">
                        <h2 class="text-center">Iniciar Sesión</h2>
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Telefono">Teléfono:</label>
                                <input asp-for="Telefono" type="text" class="form-control" id="nombre" placeholder="Ingrese su teléfono">
                            </div>

                            <div class="form-group">
                                <label asp-for="Contraseña">Contraseña:</label>
                                <input asp-for="Contraseña" type="password" class="form-control" id="contraseña" placeholder="Ingrese su contraseña">
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" asp-for="Recuerdame" />
                                <label class="form-check-label" asp-for="Recuerdame"></label>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn" style="background-color: #5d0c27; color: antiquewhite;  margin-top:30px">Iniciar Sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}