<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dulce_sabor_modulo_venta_en_linea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dulce_sabor_modulo_venta_en_linea.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="/img/GameIconsCupcake.svg" width="50px" height="50px" alt="Logo" /></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dulce Sabor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Combos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Promociones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 " style="background-color:#5d0c27; color:white; border-radius:10px" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted" style="background-color:white">
        <div class="container d-flex align-content-center justify-content-between col-12">
            <div>
                <p>Liliana Aguilar</p>
                <p>Mario Arrevillaga</p>
                <p>Jairo Erazo</p>
                <p>Gabriel Rendón</p>
                <p> Kevin Rodríguez</p>
            </div>
            <div>
                <img src="/img/Facebook.svg" width="75px" height="80px" alt="Facebook">
                <img src="/img/Instagram.svg" width="80px" height="80px" alt="Instagram">
                <img src="/img/Twitter.svg" width="70px" height="80px" alt="X">
            </div>
            <div>
                <p style="max-width:17rem">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula ipsum nec arcu lacinia, at interdum tortor finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pretium tristique ante, eget euismod nibh rhoncus sit amet. Nunc pretium posuere eros ac tincidunt. Sed ac pharetra leo, ac lobortis est. Morbi sed tortor dui. Proin id arcu tellus. Suspendisse sit amet velit orci.</p>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
