<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dulce_sabor_modulo_venta_en_linea</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dulce_sabor_modulo_venta_en_linea.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.tailwindcss.com"></script>



</head>
<body>
    <header>
        <nav class=" flex justify-between px-16 items-center">
            <div class="flex items-center">
                <a  asp-area="" asp-controller="Home" asp-action="Index"> <img src="/img/Logo.png" width="130px" height="130px" alt="Logo" /></a>
                <a  style="font-size:2rem; text-decoration:none" class="hover:text-rose-950" asp-area="" asp-controller="Home" asp-action="Index">Dulce Sabor</a>
                <ul class="flex items-center ml-10" >
                    <li class="">
                        <a class="item" asp-area="" asp-controller="Plato" asp-action="Index">Platos</a>
                    </li>
                    <li class="">
                        <a class="item " asp-area="" asp-controller="Combo" asp-action="Index">Combos</a>
                    </li>
                    <li class="">
                        <a class="item" asp-area="" asp-controller="Promociones" asp-action="Index">Promociones</a>
                    </li>
                </ul>
               
            </div>

            <div class="">
                <partial name="_LoginLinks" />
            </div>

        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="px-16 py-10">
        <div class=" flex items-center justify-between mt-5">
            <div class="flex" style="color:#861138">
                <div class="mr-16">
                    <p>Liliana Aguilar</p>
                    <p>Mario Arrevillaga</p>
                    <p>Jairo Erazo</p>
                </div>
                <div class="">
                    <p>Gabriel Rendón</p>
                    <p>Kevin Rodríguez</p>
                </div>
            </div>
            <div class="flex justify-center">
                <img src="/img/Facebook.svg" width="75px" height="80px" alt="Facebook">
                <img src="/img/Instagram.svg" width="80px" height="80px" alt="Instagram">
                <img src="/img/Twitter.svg" width="70px" height="80px" alt="X">
            </div>
            <div style="color:#861138">
                <p style="max-width:17rem">Tower Bridge Rd, Londres, SE1 2UP</p>
                <p style="max-width:17rem">+44 (0) 20 7407 9222</p>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
