@using Microsoft.AspNetCore.Identity
@inject SignInManager<Cliente> SignInManager

<ul class="flex space-x-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Hola, @User.Identity.Name</span>
        </li>
        <li class="nav-item">
            <button type="submit" class="text-white px-4 py-2 rounded-md hover:text-rose-950" style="background-color:#861138">
               <a asp-action="Index" asp-controller="Pedido">
                   Carrito de Compra
               </a>
            </button>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-action="logout" asp-controller="Cliente">
                <button type="submit" class="text-white px-4 py-2 rounded-md hover:text-rose-950" style="background-color:#861138">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {    <li class="nav-item">
            <a class="text-white px-4 py-2 rounded-md hover:text-rose-950" style="background-color:#861138" asp-area="" asp-controller="Cliente" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="text-white px-4 py-2 rounded-md hover:text-rose-950" style="background-color:#861138" asp-area="" asp-controller="Cliente" asp-action="Crear">Registrarse</a>
        </li>
    }
</ul>