<main style="background-color: rgb(218, 206, 190)">
    <section id="gallery">
        <div class="container">
            <h2 class="text-center">Promociones</h2>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://content.clara.es/medio/2021/12/16/que-comer-hoy-ideas_21beeb02_1200x630.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <a href="#" class="btn btn-outline-success btn-sm">Add</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://content.clara.es/medio/2021/12/16/que-comer-hoy-ideas_21beeb02_1200x630.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <a href="#" class="btn btn-outline-success btn-sm">Add</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://content.clara.es/medio/2021/12/16/que-comer-hoy-ideas_21beeb02_1200x630.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <a href="#" class="btn btn-outline-success btn-sm">Add</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://content.clara.es/medio/2021/12/16/que-comer-hoy-ideas_21beeb02_1200x630.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <a href="#" class="btn btn-outline-success btn-sm">Add</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://content.clara.es/medio/2021/12/16/que-comer-hoy-ideas_21beeb02_1200x630.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <a href="#" class="btn btn-outline-success btn-sm">Add</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="https://content.clara.es/medio/2021/12/16/que-comer-hoy-ideas_21beeb02_1200x630.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Sunset</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <a href="#" class="btn btn-outline-success btn-sm">Add</a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="far fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>