@{
    ViewData["Title"] = "Combos Principales";
}
<style>
    body {
        background-image: url(/img/fondo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

</style>

<main>
    <section id="gallery">
        <div class="container">
            <h2 class="text-center">Combos</h2>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="~/img/cafe1.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Macchiato Caramel $3.99</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" type="button" style="background-color:#861138; color:white" class="btn btn-light">
                                            Add
                                            <i class="bi bi-cart4"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="~/img/cafe1.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Macchiato Caramel $3.99</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" type="button" style="background-color:#861138; color:white" class="btn btn-light">
                                            Add
                                            <i class="bi bi-cart4"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="~/img/cafe1.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Macchiato Caramel $3.99</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" type="button" style="background-color:#861138; color:white" class="btn btn-light">
                                            Add
                                            <i class="bi bi-cart4"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="~/img/cafe1.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Macchiato Caramel $3.99</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" type="button" style="background-color:#861138; color:white" class="btn btn-light">
                                            Add
                                            <i class="bi bi-cart4"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="~/img/cafe1.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Macchiato Caramel $3.99</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" type="button" style="background-color:#861138; color:white" class="btn btn-light">
                                            Add
                                            <i class="bi bi-cart4"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card">
                                <img src="~/img/cafe1.jpg"
                                     alt=""
                                     class="card-img-top" />
                                <div class="card-body">
                                    <h5 class="card-title">Macchiato Caramel $3.99</h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing
                                        elit.
                                    </p>
                                    <div class="d-flex justify-content-center">
                                        <a href="#" type="button" style="background-color:#861138; color:white" class="btn btn-light">
                                            Add
                                            <i class="bi bi-cart4"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>